#container {
	margin-top: 170px;
    position: relative;
    min-width: 1280px;
}

#container .content {
	padding-top: 0;
	position: relative;
	z-index: 3;
}



/** 병원 프로필 **/
#container .hosp_wrap {
	max-width: 1170px;
	margin: 0 auto;
	position: relative;
	padding-top: 80px;
}

#container .hosp_wrap .hosp_profile {
	width: 100%;
	height: 290px;
	padding: 30px;
	border: 2px solid #ddd;
	border-radius: 20px;
	position: relative;
	display: flex;
	align-items: center;
	
}

/* 병원 프로필 (병원 사진) */
#container .hosp_wrap .hosp_profile .hosp_photo {
	display: block;
	width: 190px;
	height: 190px;
}

/* 병원 프로필 (병원 정보) */
#container .hosp_wrap .hosp_profile .hosp_info {
	padding: 0 24px;
}

/* 병원 프로필 (병원 정보 - 제목과 인증마크) */
#container .hosp_wrap .hosp_profile .hosp_info .hosp_name {
	display: flex;
	gap: 0 5px;
	align-items: center;
}

#container .hosp_wrap .hosp_profile .hosp_info .hosp_name p {
	font-size: 30px;
	font-weight: 500;
	color: #666;
}

#container .hosp_wrap .hosp_profile .hosp_info .hosp_name .hosp_mark {
	display: block;
	width: 30px;
	height: 30px;
	background: url(/images/approve.svg) no-repeat center center / 80%;
}

/* 병원 프로필 (병원 정보 - 진료과목) */
#container .hosp_wrap .hosp_profile .hosp_info .hosp_dept {
	margin-top: 4px;
	display: flex;
	gap: 0 5px;
	align-items: center;
	font-size: 16px;
	font-weight: 500;
	color: #bbb;
}

/* 병원 프로필 (병원 정보 - 전화번호와 주소) */
#container .hosp_wrap .hosp_profile .hosp_info .hosp_tel {
	display: flex;
	align-items: center;
	margin-top: 20px;
}

#container .hosp_wrap .hosp_profile .hosp_info .hosp_addr {
	display: flex;
	align-items: center;
	margin-top: 4px;
}

#container .hosp_wrap .hosp_profile .hosp_info p {
	color: #999;
}

#container .hosp_wrap .hosp_profile .hosp_info .sub_tit {
	color: var(--point-color2);
	font-weight: 500;
}


#container .hosp_wrap .hosp_profile .hosp_info .divider {
	width: 1px;
	height: 13px;
	background: #ddd;
	margin-left: 8px;
	margin-right: 8px;
}

/* 병원 프로필 (병원 정보 - 디테일) */
#container .hosp_wrap .hosp_profile .hosp_info .hosp_detail {
	display: flex;
	gap: 0 25px;
}

#container .hosp_wrap .hosp_profile .hosp_info .hosp_detail .hosp_park {
	display: flex;
	align-items: center;
	margin-top: 4px;
}

#container .hosp_wrap .hosp_profile .hosp_info .hosp_detail .hosp_res {
	display: flex;
	align-items: center;
	margin-top: 4px;
}

#container .hosp_wrap .hosp_profile .hosp_info .hosp_detail .hosp_hosp {
	display: flex;
	align-items: center;
	margin-top: 4px;
}

#container .hosp_wrap .hosp_profile .hosp_info .hosp_detail .hosp_pcr {
	display: flex;
	align-items: center;
	margin-top: 4px;
}

/* 병원 프로필 (찜) */
#container .hosp_wrap .hosp_profile .hosp_info .info_right {
	position: absolute;
	right: 60px;
	top: 40px;
	display: flex;
	gap: 0 10px;
	justify-content: right;
}

#container .hosp_wrap .hosp_profile .hosp_info .info_right .save_btn {
	width: 80px;
	border: 2px solid #f2f2f2;
	border-radius: 30px;
	text-align: center;
	display: inline-block;
	
}

#container .hosp_wrap .hosp_profile .hosp_info .info_right .save_btn span {
	font-size: 16px;
	font-weight: 500;
	line-height: 33px;
	height: 35px;
	color: #666666;
	display: flex;
	gap: 0 2px;
	align-items: center;
	justify-content: center;
}

/* 병원 프로필 (병원 정보 - 해시태그) */
#container .hosp_wrap .hosp_profile .hosp_info .hosp_hashtag>ul {
	display: flex;
	gap: 0 10px;
	margin-top: 20px;
}

#container .hosp_wrap .hosp_profile .hosp_info .hosp_hashtag .tag {
	padding: 0 10px;
	border-radius: 2px;
	background: #f2f2f2;
	text-align: center;
	display: flex;
	justify-content: center;
}

#container .hosp_wrap .hosp_profile .hosp_info .hosp_hashtag .tag p {
	font-size: 16px;
	font-weight: 500;
	line-height: 25px;
	height: 25px;
	color: #999;
}



/** 예약 채팅 버튼 **/
#container .hosp_wrap .btn_wrap {
	display: flex;
	gap: 0 10px;
	padding: 5px 3px;
	margin-bottom: 50px;
	justify-content: flex-end;
}

#container .hosp_wrap .btn_wrap .reserve_btn {
	width: 200px;
	height: 60px;
	background: var(--point-color1);
	border-radius: 30px;
	text-align: center;
}

#container .hosp_wrap .btn_wrap .reserve_btn span {
	font-size: 18px;
	font-weight: 500;
	height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
	color: #fff;
}

#container .hosp_wrap .btn_wrap .chat_btn {
	width: 200px;
	height: 60px;
	background: var(--point-color2);
	border: 2px solid var(--point-color2);
	border-radius: 30px;
	text-align: center;
}

#container .hosp_wrap .btn_wrap .chat_btn span {
	font-size: 18px;
	font-weight: 500;
	height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
	color: #fff;
}



/** 의사 정보 **/
#container .doctor_info {
	height: auto;
	padding-top: 30px;   
    padding-right: 30px; 
    padding-bottom: 10px;
    padding-left: 30px;  
	display: flex;
	border-bottom: 1px solid #ddd;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 10px;
}

#container .doctor_info .doctor {
    flex: 1 1 calc(33.333% - 10px); 
    max-width: calc(33.333% - 10px); 
    display: flex;
    justify-content: space-between;
    height: 110px;
    margin-bottom: 20px;
}

#container .doctor_info .doctor_none {
	width: 100%;
    margin-bottom: 20px;
	text-align: center;
	color: #666;
}

#container .doctor .doc_wrap {
	height: 100%;
	width: 100%;	
	display: flex;
	align-items: flex-start;
	flex-grow:1; 
	gap: 20px;
}

#container .doctor .doc_img {
  border: 1px solid #ddd;
  width: 110px;
  height: 110px;
}

#container .doctor .doc_img img {
  width: 100%;
  height: 100%;
}

#container .doctor .doc_content {
	height: 100%;
}

#container .doctor .doc_title {
  display: flex;
  align-items: center;
  gap: 0 5px;
  margin-bottom: 30px;
}

#container .doctor .doc_title h3 {
  font-size: 20px;
  font-weight: 500;
}

#container .doctor .doc_title p {
  font-size: 15px;
  color: var(--gray-500);
}

#container .doctor .doc_detail {
  display: flex;
  gap: 0 5px;
}

#container .doctor .doc_detail .etc {
	color: #666;
}

#container .doctor .doc_detail>.blue {
  color: var(--point-color2);
}


/** 진료시간 정보 **/
#container .time_info {
	height: auto;
	padding-top: 30px;   
    padding-right: 30px; 
    padding-bottom: 10px;
    padding-left: 30px;  
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 20px;
}

#container .time_info .time {
    flex: 1 1 calc(20% - 20px); 
    max-width: calc(20% - 20px); 
    height: 110px;
    margin-bottom: 20px;
	position: relative;
}

#container .time_info .time::after {
    content: '';
    width: 1px;
    height: 100px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ddd;
}

#container .time_info .time:nth-child(5n)::after {
    content: ''; 
    width: 0;
}

#container .time_info .time:last-child::after {
    content: ''; 
    width: 0;
}

#container .time .day {
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: 500;
}

#container .time .time_detail {
	display: flex;
	gap: 0 8px;
}

#container .time .time_detail .etc {
	color: #666;
}



/** 리뷰 **/
#container .review_wrap {
	margin: 87px 0 127px 0;
}

#container .review_wrap .review_list {
	max-width: 1170px;
	margin: 0 auto;
	position: relative;
}

/* 리뷰 (리뷰 요약) */
#container .review_wrap .review_list .review_summary {
	background: #f9f9f9;
	border-radius: 20px;
	height: 200px;
	display: flex;
	justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#container .review_wrap .review_list .review_summary .total_count {
	color: #999;
}

#container .review_wrap .review_list .review_summary .total_count span {
	color: var(--point-color2);
	font-weight: 500;
}

#container .review_wrap .review_list .review_summary .avg_score {
	color: #999;
	font-size: 50px;
	font-weight: 900;
}

#container .review_wrap .review_list .review_summary .avg_star .star {
	display: flex;
	gap: 0;
	text-align: center;
	justify-content: center;
}

#container .review_wrap .review_list .review_summary .avg_star .star img {
	width: 25px;
	height: 25px;
}




#container .review_wrap .review_list .review > li {
	width: 100%;
	height: 100%;
	padding: 30px;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
	display: flex;
	align-items: top;
	background: #fff;
}

/* 리뷰 (리뷰 작성자 아이콘) */
#container .review_wrap .review_list .review .review_icon {
	width: 50px;
	height: 50px;
	border: 2px solid #ddd;
	border-radius: 50%;
}

#container .review_wrap .review_list .review .review_icon img {
	width: 100%;
	height: 100%;
}

/* 리뷰 (리뷰 정보) */
#container .review_wrap .review_list .review .review_info {
	padding: 0 24px;
}

/* 리뷰 (리뷰 정보 - 닉네임) */
#container .review_wrap .review_list .review .review_info .review_nickname {
	display: flex;
	gap: 0 5px;
	padding: 15px 3px;
}

#container .review_wrap .review_list .review .review_info .review_nickname p {
	font-size: 18px;
	font-weight: 500;
	color: #666;
}

/* 리뷰 (리뷰 정보 - 날짜 및 수정 여부) */
#container .review_wrap .review_list .review .review_info .info_right {
	position: absolute;
	right: 30px;
	top: 30px;
	display: flex;
	gap: 0 20px;
	justify-content: right;
}

#container .review_wrap .review_list .review .review_info .info_right .review_date {
	display: flex;
	gap: 0 5px;
	align-items: center;
}

#container .review_wrap .review_list .review .review_info .info_right .review_date p {
	color: #bbb;
}

#container .review_wrap .review_list .review .review_info .review_score {
	display: flex;
	gap: 0 10px;
	align-items: center;
	color: #999;
}

#container .review_wrap .review_list .review .review_info .review_score .star {
	display: flex;
	gap: 0;
}

#container .review_wrap .review_list .review .review_info .review_score .star img {
	width: 20px;
	height: 20px;
}

/* 리뷰 (리뷰 정보 - 해시태그) */
#container .review_wrap .review_list .review .review_info .review_hashtag>ul {
	padding: 0 0 5px 3px;
	display: flex;
	gap: 0 5px;
	text-align: center;
	align-items: center;
}

#container .review_wrap .review_list .review .review_info .review_hashtag .tag p {
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
	height: 25px;
	color: #999;
}

#container .review_wrap .review_list .review .review_info .divider {
	width: 1px;
	height: 13px;
	background: #ddd;
	margin-left: 8px;
	margin-right: 8px;
}

/* 리뷰 (리뷰 정보 - 추가 정보) */
#container .review_wrap .review_list .review .review_info .review_extra {
	display: flex;
	gap: 0 5px;
	align-items: center;
	padding: 5px 0 0 3px;
}

#container .review_wrap .review_list .review .review_info .review_extra .extra_content {
	display: flex;
	gap: 0 4px;
	color: #999;
}

#container .review_wrap .review_list .review .review_info .review_extra .extra_content .sub_tit {
	color: var(--point-color2);
}

/* 리뷰 (리뷰 정보 - 내용) */
#container .review_wrap .review_list .review .review_info .review_content {
	padding: 10px 3px;
	font-size: 16px;
	color: #666;
}

/* 리뷰 - 좋아요 버튼 */
#container .review_wrap .review_list .review .review_info .button_wrap {
	display: flex;
	gap: 0 10px;
	padding: 5px 3px;
	align-items: center;
}

#container .review_wrap .review_list .review .review_info .button_wrap p {
	color: #666;
	font-weight: 500;
}

#container .review_wrap .review_list .review .review_info .button_wrap .comm_like_btn {
	width: 80px;
	border: 2px solid #f2f2f2;
	border-radius: 30px;
	text-align: center;
	display: inline-block;
	
}

#container .review_wrap .review_list .review .review_info .button_wrap .comm_like_btn span {
	font-size: 16px;
	font-weight: 500;
	line-height: 33px;
	height: 35px;
	color: #999;
	display: flex;
	gap: 0 5px;
	align-items: center;
	justify-content: center;
}

/* 리뷰 - 리뷰 수정 버튼 */
#container .review_wrap .review_list .review .review_info .button_wrap .crud_btn {
	position: absolute;
	right: 30px;
	bottom: 35px;
	display: flex;
	gap: 0 10px;
	justify-content: right;
}

#container .review_wrap .review_list .review .review_info .button_wrap .edit_review_btn {
	width: 70px;
	border-radius: 2px;
	background: #f2f2f2;
	text-align: center;
	display: inline-block;
}

#container .review_wrap .review_list .review .review_info .button_wrap .edit_review_btn span {
	font-size: 16px;
	font-weight: 500;
	line-height: 33px;
	height: 35px;
	color: #666666;
	display: flex;
	gap: 0 2px;
	align-items: center;
	justify-content: center;
}

/* 리뷰 - 리뷰 삭제 버튼 */
#container .review_wrap .review_list .review .review_info .button_wrap .delete_review_btn {
	width: 70px;
	border-radius: 2px;
	background: #f2f2f2;
	text-align: center;
	display: inline-block;
}

#container .review_wrap .review_list .review .review_info .button_wrap .delete_review_btn span {
	font-size: 16px;
	font-weight: 500;
	line-height: 33px;
	height: 35px;
	color: #666;
	display: flex;
	gap: 0 2px;
	align-items: center;
	justify-content: center;
}

/* 리뷰 - 답변 작성 버튼 */
#container .review_wrap .review_list .review .review_info .button_wrap .reply_btn {
	width: 140px;
	border: 2px solid #f2f2f2;
	border-radius: 30px;
	text-align: center;
	display: inline-block;
	
}

#container .review_wrap .review_list .review .review_info .button_wrap .reply_btn span {
	font-size: 16px;
	font-weight: 500;
	line-height: 33px;
	height: 35px;
	color: #666;
	display: flex;
	gap: 0 2px;
	align-items: center;
	justify-content: center;
}



/** 답변 **/
#container .review_wrap .review_list .reply>li {
	width: 100%;
	height: 100%;
	padding: 30px;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
	display: flex;
	align-items: top;
	background: #fff;
}

/* 답변 (화살표) */
#container .review_wrap .review_list .reply .reply_arrow {
	padding: 10px 15px;
}

/* 답변 (답변 작성자 아이콘) */
#container .review_wrap .review_list .reply .reply_icon {
	width: 50px;
	height: 50px;
	border: 2px solid #ddd;
	border-radius: 50%;
}

#container .review_wrap .review_list .reply .reply_icon img {
	width: 100%;
	height: 100%;
}

/* 답변 (답변 정보) */
#container .review_wrap .review_list .reply .reply_info {
	padding: 0 24px;
}

/* 답변 (답변 정보 - 닉네임) */
#container .review_wrap .review_list .reply .reply_info .reply_nickname {
	display: flex;
	gap: 0 5px;
	padding: 15px 3px;
	align-items: center;
}

#container .review_wrap .review_list .reply .reply_info .reply_nickname p {
	font-size: 18px;
	font-weight: 500;
	color: #666;
}

#container .review_wrap .review_list .reply .reply_info .reply_nickname .hosp_mark {
	display: block;
	width: 30px;
	height: 30px;
	background: url(/images/approve.svg) no-repeat center center / 80%;
}

/* 답변 (답변 정보 - 날짜 및 수정 여부) */
#container .review_wrap .review_list .reply .reply_info .info_right {
	position: absolute;
	right: 30px;
	top: 30px;
	display: flex;
	gap: 0 20px;
	justify-content: right;
}

#container .review_wrap .review_list .reply .reply_info .info_right .reply_date {
	display: flex;
	gap: 0 5px;
	align-items: center;
}

#container .review_wrap .review_list .reply .reply_info .info_right .reply_date p {
	color: #bbb;
}

/* 답변 (답변 정보 - 내용) */
#container .review_wrap .review_list .reply .reply_info .reply_content {
	padding: 0 3px;
	font-size: 16px;
	color: #666;
}

/* 답변 - 답변 수정 버튼 */
#container .review_wrap .review_list .reply .reply_info .button_wrap {
	display: flex;
	gap: 0 10px;
	padding: 20px 0;
}

#container .review_wrap .review_list .reply .reply_info .button_wrap .edit_reply_btn {
	width: 70px;
	border-radius: 2px;
	background: #f2f2f2;
	text-align: center;
	display: inline-block;
}

#container .review_wrap .review_list .reply .reply_info .button_wrap .edit_reply_btn span {
	font-size: 16px;
	font-weight: 500;
	line-height: 33px;
	height: 35px;
	color: #666666;
	display: flex;
	gap: 0 2px;
	align-items: center;
	justify-content: center;
}

/* 답변 - 답변 삭제 버튼 */
#container .review_wrap .review_list .reply .reply_info .button_wrap .delete_reply_btn {
	width: 70px;
	border-radius: 2px;
	background: #f2f2f2;
	text-align: center;
	display: inline-block;
}

#container .review_wrap .review_list .reply .reply_info .button_wrap .delete_reply_btn span {
	font-size: 16px;
	font-weight: 500;
	line-height: 33px;
	height: 35px;
	color: #666;
	display: flex;
	gap: 0 2px;
	align-items: center;
	justify-content: center;
}









/** 모달창 **/
.modal-content {
  color: var(--gray-500);
}

.modal-content button {
  height: auto;
  padding: 5px 10px;
  border: 1px solid #bbb;
}

.modal-content button.btn-close {
  border: none;
}

.modal-content #hashtag-list {
  display: flex;
  gap: 0 5px;
  margin-top: 5px;
}

.modal-content .form-group {
  margin-bottom: 10px;	
}

.modal-content .form-control {
  margin-bottom: 10px;
}

.modal-content .form-control:last-child {
  margin-bottom: 0;
}


#container .blue {
  color: var(--point-color2);
}
